-luci-app-cpufreq
htop
luci-app-argon-config
luci-app-ddns
luci-app-firewall
luci-app-netdata
luci-app-openclash
luci-base
luci-compat
luci-i18n-argon-config-zh-cn
luci-i18n-base-zh-cn
luci-i18n-ddns-zh-cn
luci-i18n-netdata-zh-cn
luci-theme-argonv3
luci-theme-material
rsync
rsyncd
ppp-mod-pptp
gzip
unzip
nano
zsh
screen
tree
whereis
ipv6helper
wget-ssl
luci-ssl
